<header>

  <div class="header-image-container">
    <img src="/book_128.png" alt="Read-It">
  </div>

</header>

<section class="nav-bar-container">
  <div class="select-container">
    <a id='page-select-option' href='/'>Login</a>
    <a id='page-select-option' href='/createAccount'>Create An Account</a>
  </div>
</section>
