{{> header}}

<main class="content">

  <section class="new-container">
    <div class="name-container">
      <h2 class="my-name"><u><em>Read-It</em></u></h2>

      <h3>Your Input</h3>
      <div class="container-main-input" id="container-main-input" style="background-color: white;">
        <form action="/home/{{this.userID}}" method="POST">
          <textarea placeholder="Please enter your input here..."class="input-text" id = "input-text" name="message" rows="20"></textarea>
          <br> <br> <input type="submit" value="Submit" class="button"> <br> <br>
        </form>
      </div>

    </div>
  </section>

</main>
