<header>

  <div class="header-image-container">
    <img src="/compass.png" alt="Outdoor Adventures">
  </div>

</header>

<section class="nav-bar-container">
  <div class="select-container">
    <a id='page-select-option' href='/'>Home</a>
    <a id='page-select-option' href='/bookTrip'>Book A Trip</a>
    <a id='page-select-option' href='/tripInfo'>Trip Info</a>
    <a id='page-select-option' href='/participants'>Participants</a>
    <a id='page-select-option' href='/admin'>Admin</a>
  </div>
</section>
